<mat-toolbar class="toolbar" color="accent">

  <img src="assets/img/logo.png" class="menu" routerLink="/" style="cursor: pointer;" title="Inicio">

  <span class="spacer"></span>

  <h3>{{dominioActual.data.nombre}}</h3>
  <button mat-icon-button [matMenuTriggerFor]="domainMenu" mdTooltip="Cambiar contexto" (click)="determinarContextos()"
    title="Elegir contexto">
    <mat-icon>find_replace</mat-icon>
  </button>

  <mat-menu #domainMenu="matMenu">
    <div *ngFor="let dominio of dominios">
      <button mat-menu-item (click)="cambiarContexto(dominio.data.path)">{{dominio.data.nombre}}</button>
    </div>
  </mat-menu>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu" title="Sesión">
    <mat-icon>person_pin</mat-icon>
  </button>
  <h3>{{userName}}</h3>

  <!--USER PROFILE MENU-->
  <mat-menu #profileMenu="matMenu">
    <!-- <button mat-menu-item disabled>
      <mat-icon>supervisor_account</mat-icon>
      <span>Modificar datos del usuario</span>
    </button> -->

    <button mat-menu-item (click)="openDialog()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/ayuda">
        <i class="material-icons">help</i>
        &nbsp;Ayuda
      </a>
      <!--<a mat-list-item routerLink="/">
        <i class="material-icons">dashboard</i>
        &nbsp;Escritorio
      </a>-->
      <div *ngIf="dominioActual.data.path">
        <a mat-list-item routerLink="/formularios">
          <i class="material-icons">web</i>
          &nbsp;Formularios
        </a>
      </div>
      <div *ngIf="dominioActual.data.envios">
        <a mat-list-item routerLink="/envios">
          <i class="material-icons">share</i>
          &nbsp;Envíos
        </a>
      </div>
      <div *ngIf="dominioActual.data.tareas">
        <a mat-list-item routerLink="/tareas">
          <i class="material-icons">settings</i>
          &nbsp;Tareas
        </a>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="loading-overlay" #progressBar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>