<div class="animated fadeIn table-container mat-elevation-z20">
  <mat-card>
    <mat-card-header>
      <i class="material-icons">settings</i>
      <mat-card-title>{{formulario.title}}</mat-card-title>
      <mat-card-subtitle>Relación de tareas</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- Table loading spinner -->
      <div class="table-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div class="table-header">
        <!-- Table search input -->
        <mat-form-field class="filter-field">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar" [(ngModel)]="search">
          <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Clear"
            (click)="search=''; applyFilter('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <span class="spacer"></span>

        {{procedimientoActual['process-name']}}

        <button mat-icon-button [matMenuTriggerFor]="procedimientoMenu" mdTooltip="Filtro por procedimientos"
          (click)="determinarProcedimientos()" title="Elegir procedimiento">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #procedimientoMenu="matMenu">
          <div *ngFor="let procedimiento of procedimientos">
            <button mat-menu-item
              (click)="cambiarProcedimiento(procedimiento['process-id'])">{{procedimiento['process-name']}}</button>
          </div>
        </mat-menu>

        <span class="spacer"></span>

        {{equivalenciasEstado[estadoActual]}}

        <button mat-icon-button [matMenuTriggerFor]="estadoMenu" mdTooltip="Filtro por estados" title="Elegir estado">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #estadoMenu="matMenu">
          <div *ngFor="let estado of equivalenciasEstado | keyvalue">
            <button mat-menu-item (click)="cambiarEstado(estado.key)">{{estado.value}}</button>
          </div>
        </mat-menu>

        <!-- Add button
        <button mat-raised-button (click)="save()" style="margin-bottom: 15px;" color="primary">
          <mat-icon>add</mat-icon>
        </button> -->
      </div>

      <mat-table #table [dataSource]="dataSource" class="person-table" matSort matSortActive="task-created-on"
        matSortDisableClear matSortDirection="desc">
        <!-- Table content -->
        <ng-container matColumnDef="task-created-on">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Creación</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <div *ngFor="let item of row['task-created-on'] | keyvalue">
              {{item.value | date }}
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="task-name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Tarea</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row['task-name'] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="task-status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row['task-status'] | i18nSelect: equivalenciasEstado }}</mat-cell>
        </ng-container>

        <!-- Table actions -->
        <ng-container matColumnDef="personid">
          <mat-header-cell *matHeaderCellDef>
            Acciones
          </mat-header-cell>

          <mat-cell *matCellDef="let row">

            <button mat-icon-button (click)="view(row)" aria-label="Ver la tarea" title="Ver detalles de la tarea">
              <i class="material-icons">visibility</i>
            </button>

            <div *ngIf="isTramitable(row['task-status'])">
              <button mat-menu-item (click)="edit(row)" title="Tramitar tarea">
                <mat-icon aria-label="Tramitar">create</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- Table pagination -->
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="totalItems" [pageSize]="pageSize"
        (page)="onPaginateChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>