<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px"><strong>Clifford </strong>es una herramienta para completar instancias de formularios electr&oacute;nicos.</p>

<p style="margin-left:40px">Los<u> pasos a seguir</u> son los siguientes:</p>

<ul style="margin-left:40px">
	<li>Seleccionar la agrupaci&oacute;n de formularios <i class="material-icons">find_replace</i>.</li>
	<li>Acceder a la relaci&oacute;n de formularios disponibles para la agrupaci&oacute;n seleccionada <i class="material-icons">web</i>.</li>
	<li>Ver la relaci&oacute;n de instancias del formulario seleccionado <i class="material-icons">topic</i>.</li>
	<li>Crear una nueva instancia <i class="material-icons">add</i>. La agrupaci&oacute;n de formularios puede estar configurada para permitir una &uacute;nica instancia, en cuyo caso el icono no volver&aacute; a aparecer, salvo si se borra la instancia.</li>
</ul>
<ul style="margin-left:80px">
  <li>La instancia solo se guarda en la base de datos si se cumplen todas las validaciones. No se puede almacenar un borrador.</li>
  <li>Una vez almacenada la instancia en la base de datos se recibir&aacute; un mensaje de confirmaci&oacute;n y se ver&aacute; en la relaci&oacute;n de instancias con la fecha y hora en que se ha creado.</li>
</ul>
<ul style="margin-left:40px">
  <li>Ver una instancia <i class="material-icons">visibility</i>.</li>
	<li>Modificar una instancia <i class="material-icons">create</i>.</li>
</ul>
<ul style="margin-left:80px">
	<li>Se puede abandonar la edici&oacute;n haciendo click en cualquier parte fuera de la ventana de edici&oacute;n.</li>
	<li>Una vez almacenada la instancia en la base de datos se recibir&aacute; un mensaje de confirmaci&oacute;n y se ver&aacute; la fecha y hora de modificaci&oacute;n actualizada.</li></ul>
<ul style="margin-left:40px">
  <li>Borrar una instancia <i class="material-icons">delete_forever</i>.</li>
	<li>Obtener un volcado de pantalla de una instancia en PDF <i class="material-icons">description</i>.</li>
</ul>
<p style="margin-left:40px">Las opciones son configurables por el administrador por lo que no siempre aparecen.</p>
